<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Inicio</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-page">
  <div class="hero-banner">
    <h1>Bienvenido</h1>
    <p>WorldsAcross </p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-card routerLink="/classes" button>
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="school-outline" size="large"></ion-icon>
              Clases
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4">
        <ion-card routerLink="/tutors" button>
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="person-outline" size="large"></ion-icon>
              Tutores
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4">
        <ion-card routerLink="/student" button>
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="people-outline" size="large"></ion-icon>
              Estudiantes
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color= "light">
    <ion-title class="ion-text-center">
       | Derechos Reservados | Luis-epic | 2025 |
    </ion-title>
    <ion-buttons slot="end">
      <ion-button href="https://github.com/luis-epic" target="_blank">
        <ion-icon name="logo-github" size="medium"></ion-icon>
      </ion-button>
      <ion-button href="https://www.linkedin.com/in/luisepico/" target="_blank">
        <ion-icon name="logo-linkedin" size="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>